<div ng-controller="orderController">
    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
    </style>
    <div class="container-fluid">
        <div class="text-center" style="padding:5%">
            <h2> Your Orders </h2>
        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-1">
                <div class="table-responsive" style="padding:1%">
                    <table class="table table-striped" ">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Location</th>
                                <th>Status</th>
                                <th>Items</th>
                                <th>Pay</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="a in orders">
                                <td>{{a.id}}</td>
                                <td>{{a.location}}</td>
                                <td>{{a.status}}</td>
                                <td>
                                    <table ng-repeat="b in a.items">
                                        <tr>
                                            <td><strong>Name: {{b.name}}</strong></td>
                                            <td><input type="button" class="btn btn-default" value="Update" ng-click="updateOrder($parent.$index,$index)"/></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><div class="col-sm-6">Quantity: </div>
                                            <input type="number" class="col-sm-4" value="{{b.qty}}" ng-disabled="myqty" /></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div class="col-sm-6">Milk: </div>
                                                <input type="text" class="col-sm-4" value="{{b.milk}}" ng-disabled="mymilk" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                            <div class="col-sm-6">Size: </div>
                                            <input type="text" class="col-sm-4" value="{{b.size}}" ng-disabled="mysize" />
                                                </td>
                                        </tr>
                                    </table>
                                </td>
                                <td><input type="button" class="btn btn-success" value="Pay" ng-click="pay($index);" /></td>
                                <td>
                                    <button type="button" class="btn btn-danger" ng-click="deleteOrder($index);">
                                        <span class="glyphicon glyphicon-trash"> </span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-4 col-sm-offset-1">
                <img src="./images/coffee1.jpg" width="90%">
            </div>

        </div>
    </div>
</div>